<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/<% if(editing) { %>edit-product<% } else { %>add-product<% }%>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if(editing) { %> <%= product.title %> <% }%>">

                <label for="title">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editing) { %> <%= product.imageUrl %> <% }%>">

                <label for="title">Price</label>
                <input type="number" name="price" id="price"     value=<% if(editing) { %> <%= product.price %> <% }%>>

                <label for="title">Description</label>
                <textarea type="text" name="desc" id="desc"><% if(editing) { %> <%= product.description %> <% }%></textarea>
            </div>

            <% if(editing) {%>
                <input type="hidden" value="<%= product.id %>" name="id">
            <% } %>

            <button type="submit"><% if(editing) { %>Update Products<% } else { %>Add Product<% }%></button>
        </form>
    </main>
</body>

</html>